.bgcolor {
    padding: 5rem 0px;
    background: #e2e8f0;}
    .img-tiles {
        max-width: 31.33%;
        margin-right: 2%;
        margin-bottom: 2%;
        display: inline-block;
        
    }
    .img-container {
        position: relative;
        height: 15rem;
    }
    nav footer {
        text-align: center;
        padding: 1rem 1.25rem;
        background: #fff;
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
    nav footer h5 {
        margin-bottom: 0px;
        color: #212121;
        font-weight: 500;
    }
    

    .img-container:hover {
        transform: scale(1.05);
        box-shadow: var(--shadow-2);
    }
     .title {
        text-align: center;
        margin-bottom: 3rem;
    }
    .title h2 {
        font-size: 2.441rem;
    }
    